
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@using Ispit_2017_09_11_DotnetCore.ViewModels
@model Odjeljenje_IndexVM

<table class="table table-striped">
    <thead>
        <tr>
            <th>Skolska godina</th>
            <th>Razred</th>
            <th>Oznaka</th>
            <th>Razrednik</th>
            <th>Prebacen</th>
            <th>Prosjek</th>
            <th>Najbolji ucenik</th>
            <th>Akcija</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model._lista)
        {
            <tr>
                <td>@i.skolskaGodina</td>
                <td>@i.razred</td>
                <td>@i.oznaka</td>
                <td>@i.razrednik_ImePrezime</td>
                <td>@i.prebacen</td>
                <td>@i.prosjek</td>
                <td>@i.najbolji_ucenik</td>
                <td>
                    <a class="btn btn-primary" href="/Odjeljenja/Detalji?odjeljenjeID=@i.odjeljenjeID">Detalji</a>
                </td>
                <td>
                    <a class="btn btn-danger" href="/Odjeljenja/Izbrisi?odjeljenjeID=@i.odjeljenjeID">Izbrisi</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<a class="btn btn-primary" href="/Odjeljenja/Dodaj">Dodaj novo </a>

